Repository hmcts/probate-business-service, pull requests merged in 2020-02, with the labels that each got.

#275 Dr wla 62 bilingual dec
  Jenkinsfile_CNP
  build.gradle
  charts/probate-business-service/Chart.yaml
  charts/probate-business-service/values.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  src/contractTest/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/InvitationControllerProviderTest.java
  src/contractTest/resources/json/validLegalDeclaration.json
  src/main/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/BusinessDocumentController.java
  src/main/java/uk/gov/hmcts/probate/services/invitation/InvitationService.java
  src/main/java/uk/gov/hmcts/probate/services/invitation/controllers/InvitationController.java
  src/main/java/uk/gov/hmcts/probate/services/pin/PinService.java
  src/main/java/uk/gov/hmcts/probate/services/pin/controllers/PinController.java
  src/main/resources/application.yml
  src/main/resources/bootstrap.yaml
  src/main/resources/templates/pdf/legalDeclaration.html
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/BusinessDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/model/LegalDeclarationTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/unit/BusinessDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/integration/InvitationControllerTest.java
  src/test/resources/application.yml
  src/test/resources/businessdocuments/invalidLegalDeclaration.json
  src/test/resources/businessdocuments/validLegalDeclaration.json
Labels: do not merge, ns:probate, rel:probate-business-service-pr-275

#289 Merge demo to master1802
  .DS_Store
  Jenkinsfile_CNP
  build.gradle
  src/main/java/uk/gov/hmcts/.DS_Store
  src/main/java/uk/gov/hmcts/probate/.DS_Store
  src/main/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/BusinessDocumentController.java
  src/main/java/uk/gov/hmcts/probate/services/invitation/controllers/InvitationController.java
  src/main/resources/templates/pdf/legalDeclaration.html
  src/test/java/uk/gov/hmcts/probate/services/business/services/GitCommitInfoEndpointTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/BusinessDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/document/integration/DocumentControllerTest.java
Labels: ns:probate, rel:probate-business-service-pr-289

#290 PRO-1234: upgrade commons
  build.gradle
Labels: ns:probate, rel:probate-business-service-pr-290

#291 UnbreakBuildForProd2002
  Jenkinsfile_CNP
Labels: ns:probate, rel:probate-business-service-pr-291

#297 PRO-1234
  Jenkinsfile_CNP
  build.gradle
  src/test/java/uk/gov/hmcts/probate/services/business/services/GitCommitInfoEndpointTest.java
  src/test/java/uk/gov/hmcts/probate/services/document/integration/DocumentControllerTest.java
Labels: ns:probate, rel:probate-business-service-pr-297

#298 PRO-6841: Reference new version of commons library
  build.gradle
Labels: ns:probate, rel:probate-business-service-pr-298
