Repository hmcts/probate-business-service, pull requests merged in 2022-06, with the labels that each got.

#648 DTSPB-2844: upgrade junit5
  build.gradle
  src/test/java/uk/gov/hmcts/probate/config/PDFServiceConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/config/ServiceAuthConfigurationTest.java
  src/test/java/uk/gov/hmcts/probate/handlers/BusinessExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/probate/services/business/health/BusinessHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/probate/services/business/services/GitCommitInfoEndpointTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/controllers/BusinessDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/model/BulkScanCoverSheetTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/model/CheckAnswersSummaryTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/model/LegalDeclarationTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/services/FileSystemResourceSystemTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/services/PDFGenerationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/unit/BusinessDocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessvalidation/integration/BusinessValidationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessvalidation/unit/BusinessValidatorTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessvalidation/validators/DobBeforeDodRuleTest.java
  src/test/java/uk/gov/hmcts/probate/services/businessvalidation/validators/NetIHTValueLessThanGrossRuleTest.java
  src/test/java/uk/gov/hmcts/probate/services/document/integration/DocumentControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/document/unit/DocumentServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/document/unit/DocumentValidationTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/InviteControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/integration/InvitationControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/unit/IdGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/invitation/unit/InvitationServiceTest.java
  src/test/java/uk/gov/hmcts/probate/services/persistence/unit/PersistenceClientTest.java
  src/test/java/uk/gov/hmcts/probate/services/pin/integration/PinControllerTest.java
  src/test/java/uk/gov/hmcts/probate/services/pin/unit/TestPinService.java
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-648

#649 DTSPB-2839 upgrade notify client
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-649

#646 DTSPB-2725 new condition for no docs required message on PA coversheet
  build.gradle
  src/functionalTest/resources/json/bulkScanCoverSheet.json
  src/main/resources/templates/pdf/bulkScanCoverSheet.html
  src/test/java/uk/gov/hmcts/probate/services/businessdocuments/model/BulkScanCoverSheetTest.java
  src/test/resources/businessdocuments/validBulkScanCoverSheet.json
  src/test/resources/businessdocuments/validBulkScanCoverSheetNoCheckListItems.json
  src/test/resources/businessdocuments/validBulkScanCoverSheetStaticTextOverride.json
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-646

#650 DTSPB-2869: use springdoc
  build.gradle
  src/main/java/uk/gov/hmcts/probate/services/document/controllers/DocumentController.java
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-650

#652 DTSPB-2892
  charts/probate-business-service/Chart.yaml
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-652
