Repository hmcts/probate-business-service, pull requests merged in 2024-04, with the labels that each got.

#790 DTSPB-4118 update the chart version enabling hpa
  charts/probate-business-service/Chart.yaml
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-790

#788 DTSPB-3621 Change Open Id token
  src/functionalTest/java/uk/gov/hmcts/probate/functional/IdamTokenGenerator.java
Labels: ns:probate, prd:probate, no-changes, rel:probate-business-service-pr-788

#791 DTSPB-4140 add supressions
  suppressions.xml
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-791
