Repository hmcts/probate-business-service, pull requests merged in 2025-04, with the labels that each got.

#1039 DTSPB-4672 sanitise mobile number before sending pin
  src/main/java/uk/gov/hmcts/probate/services/pin/controllers/PinController.java
  src/test/java/uk/gov/hmcts/probate/services/pin/integration/PinControllerTest.java
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-1039

#1047 DTSPB-4712: Bump SB patch version, resolving CVE
  build.gradle
Labels: ns:probate, prd:probate, rel:probate-business-service-pr-1047

#1041 DTSPB-4664 Convert GETs to POSTs so we do not log parameters
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/probate/functional/BusinessServicePinControllerTests.java
  src/main/java/uk/gov/hmcts/probate/handlers/PinExceptionHandler.java
  src/main/java/uk/gov/hmcts/probate/services/pin/controllers/PinController.java
  src/main/java/uk/gov/hmcts/probate/services/pin/exceptions/PhonePinException.java
  src/test/java/uk/gov/hmcts/probate/services/pin/integration/PinControllerTest.java
Labels: ns:probate, prd:probate, enable_keep_helm, aat/no-changes, prod/no-changes, rel:probate-business-service-pr-1041
